body {
  color:mediumBlue;
  background-color:gray;
  font-family:sans-serif;
  font-size:150%;
}
  p {
    color:white;
    border-style:solid;
    font-family:sans-serif;
    font-size:75%;
  }
  hr {
    Border:5px solid white;
    border-radius:2px;
    margin-left:5px;
    margin-right:5px;
  }
  a:link {
    color:white;
  }
    a:visited {
      color:white;
    }
    a:hover {
      color:white;
      text-decoration:none;
    }
    a:active {
      color:royalBlue;
    }
 img {
   Border:4px solid black;
 }